.odin-recipes-header {
  color:rgb(46, 46, 46);
  font-size: 68px;        
  padding: 20px 0;         
  background-color: rgb(255, 224, 186);
  text-align: center;
  font-family: 'Brush Script MT', Garamond, Arial;
  margin: 30px 400px 75px;
  border-radius: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.btn {
    display: block;
    box-sizing: border-box;
    height: auto;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    color:black;
    text-align: center;
    border: 2px inset white;
    font-size: 50px;
    border-radius: 10px;
    text-decoration: none;
    background-color: bisque;
    font-family: Garamond, 'Times New Roman', Arial;
}
body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.btn:hover {
  background-color: rgb(247, 208, 159);
  transform: translateY(-3px);
}
.carbonara-naslov, .kebab-naslov, .tiramisu-naslov {
  text-align: center;
  color: black;
  background-color: bisque; 
  font-family: Garamond,'Times New Roman', Arial;
}
img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
  font-family: Garamond, 'Times New Roman', Arial;
}
.ingredients, .instructions {
  color: rgb(101, 1, 101);
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  font-size: 40px;
}
.home-btn {
  display: block;
  box-sizing: border-box;
  background-color: bisque;
  height: 35px;
  width: 50px;
  text-decoration: none;
  color:rgb(116, 47, 47);
  font-size: large;
  border-radius: 10px;
}
.home-btn:hover {
    background-color: rgb(247, 208, 159);
  transform: translateY(-3px);
}
ol {
  color: rgb(66, 0, 0);
  font-size: 30px;
  text-align: justify;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  box-sizing: content-box;
  border: solid brown;
  background-color: bisque;
  border-radius: 5px;
}
.carbonara-opis, .kebab-opis, .tiramisu-opis {
  font-size: 45px;
}